@model IList<meuCuidado.Dominio.Models.Lembrete>

@if (Model != null && Model.Count() != 0)
{

    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.RelacionamentoIdosoProfissional.Id)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IdentificadorUnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repete)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.RelacionamentoIdosoProfissional.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificadorUnico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicamentoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repete)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>Não existem lembretes para exibir na data selecionada.</p>
}