@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Email")
        @Html.TextBox("email", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Senha")
        @Html.Password("senha", null, new { @class = "form-control" })
    </div>

    <hr style="color: white" />

    <button type="submit" class="btn btn-primary">Entrar</button>
}

<hr />

<div>
    <a href="~/signin-google" class="btn btn-danger">Entrar com Google</a>
    <a href="~/signin-facebook" class="btn btn-primary">Entrar com Facebook</a>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger  mt-3">@ViewBag.ErrorMessage</div>
}

<p>
    Não tem uma conta? <a href="@Url.Action("Cadastro", "Conta")">Cadastre-se aqui</a>
</p>
